.layout{
    height: 60px;
    padding: 4px;
    background-color:#0909098f;
    display: flex;
    align-items: center;
    box-shadow: 1px -2px 15px rgb(46, 46, 46);
    z-index: 1;
    justify-content: space-between;
 
}


.links{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.links a:hover::before{
    content:"";
    width: 100%s;
    height: 2px;
    background-color: #efefef;


}
.heading{
    color: #efefef;
    font-weight: 700;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    
}


.avatarLayout{
        width: 30px;
        height: 30px;
     
        margin-right: 10px;
        cursor: pointer;
        border-radius: 50%;
        position: relative;
}



.avatarLayout img{
    position: absolute;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}



.dropdown{
    position: absolute;
    top: 40px;
    z-index: 10;
    width: 200px;
    left: -10%;
    padding: 3px;
    height: 90px;
    background-color: rgba(13, 13, 13, 0.651);
    padding-left: 10px;
    display: flex;
    color: rgba(252, 244, 244, 0.553);
    font-weight: 400;
    display: flex;
    flex-direction: column;

    

}


.dropdown a {
    color: rgba(252,244,244,0.8);
    position: relative;
    padding: 3px;

}

.dropdown svg{
    position: relative;
    top: 2px;
    margin-right: 10px;
}


.disabled{
    width:0px;
    opacity: 0;
}