.registerPage{
    display: grid;
    place-items: center;
    width: 100vw;
    height:100vh;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
   
}


.registerLayout{
    display: flex;
    flex-direction: column;

    width:340px;
    height:500px;
    padding:10px;
    border-radius: 30px;
    font-family: sans-serif;
    align-items: center;
    border:1px solid white;
}

